
@font-face {
  font-family: 'ProximaNova-SemiboldIt';
  src: url('ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-SemiboldIt.woff') format('woff'), url('ProximaNova-SemiboldIt.ttf')  format('truetype'), url('ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
