
@font-face {
  font-family: 'ProximaNova-Black';
  src: url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Black.woff') format('woff'), url('ProximaNova-Black.ttf')  format('truetype'), url('ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
