
@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url('ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-LightIt.woff') format('woff'), url('ProximaNova-LightIt.ttf')  format('truetype'), url('ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
